version: '3.8'

services:
  app:
    image: ${GHCR_REGISTRY}/${OWNER_LC}/portfolio:${SHA}
    restart: always
    ports:
      - '127.0.0.1:3003:3000'
    environment:
      - NODE_ENV=production
      - HOST=127.0.0.1
      - FRONT_TOKEN_SECRET: ${FRONT_TOKEN_SECRET}
      - NEXT_PUBLIC_APP_URL: ${NEXT_PUBLIC_APP_URL}
      - RESEND_API_KEY: ${RESEND_API_KEY}
    volumes:
      - './.env.production:/app/standalone/.env:ro'
